@mixin mobile {
  @media (max-width: 576px) { @content; }
}

@mixin tablet {
  @media (max-width: 768px) { @content; }
}

@mixin laptop {
  @media (max-width: 992px) { @content; }
}

@mixin desktop-sm {
  @media (max-width: 1200px) { @content; }
}