@import 'variables';
@import 'mixins';
@import 'reset';

// Components
@import '../components/Header/header';
@import '../components/Footer/footer';
@import '../components/UI/Buttons/buttons';
@import '../components/UI/Modal/modal';
@import '../components/UI/Form/form';
@import '../components/Cards/ArtCard/art-card';
@import '../components/Cards/ShopCard/shop-card';
@import '../components/Cards/JoinCard/join-card';
@import '../components/Hero/hero'; // Для главной страницы

// Page Specific Styles (если нужно что-то уникальное)
// Например, фон для страницы Shop
body.page-shop {
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 400px;
    left: 120px;
    width: 1200px;
    height: 160vh;
    background: url('#{$img-path}/Fonshop.png') no-repeat center / contain;
    z-index: -1;
    
    @include desktop-sm { display: none; }
  }
}

// Фон для страницы регистрации
body.page-registration {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 575px;
    left: 50%;
    transform: translateX(-50%);
    width: 120vw;
    height: 120vh;
    background: url('#{$img-path}/fon.png') no-repeat center / contain;
    z-index: -1;
    pointer-events: none;
    @include desktop-sm { display: none; }
  }
}