.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    width: 90%;
    margin: 40px auto;
    background-color: $color-bg;
    gap: 40px;
    
    @include desktop-sm { margin: -20px auto 40px auto; gap: 30px; }
    @include laptop { flex-direction: column; text-align: center; }
    @include tablet { margin: 0 auto 40px auto; }

    &__image {
        width: 55%;
        aspect-ratio: 700 / 420;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 10px;
        @include laptop { width: 90%; aspect-ratio: 16 / 9; }
    }

    &__content {
        width: 45%;
        padding-left: 0;
        color: $color-black;
        text-align: center;
        @include laptop { width: 90%; }
    }

    &__title {
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 39px;
        text-align: center;
        @include desktop-sm { font-size: 36px; }
        @include laptop { font-size: 32px; margin-bottom: 20px; }
        @include tablet { font-size: 28px; }
        @include mobile { font-size: 24px; }
    }

    &__text {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 39px;
        text-align: center;
        @include laptop { font-size: 16px; margin-bottom: 25px; }
    }

    &__button {
        display: inline-block;
        background-color: $color-accent;
        color: $color-white;
        text-decoration: none;
        padding: 12px 60px;
        border-radius: 8px;
        font-weight: 700;
        transition: background-color 0.3s;
        
        @include mobile { padding: 10px 30px; font-size: 16px; }

        &:hover { background-color: $color-white; color: $color-accent; }
    }
}