.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.modal-content {
    background-color: $color-accent;
    color: $color-white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 400px;
    width: 90%;
    transform: translateY(-50px);
    transition: transform 0.3s ease-out;

    @include tablet { padding: 30px 20px; }
}

.modal-overlay.active .modal-content {
    transform: translateY(0);
}

.modal-title {
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: -1px;
    @include tablet { font-size: 24px; }
}

.modal-message {
    font-size: 18px;
    margin-bottom: 30px;
    @include tablet { font-size: 16px; }
}

.modal-close-button {
    background-color: $color-white;
    color: $color-accent;
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s;
    text-transform: uppercase;
    @include tablet { padding: 8px 20px; font-size: 16px; }

    &:hover { background-color: #e0e0e0; }
}