body {
  margin: 0;
  font-family: 'Epilogue', sans-serif;
  background-color: #FFE4CA;
  position: relative;
  overflow-x: hidden;
}

ul, ol { padding: 0; list-style: none; }
a { text-decoration: none; color: inherit; }
button { border: none; outline: none; background: none; font-family: inherit; }
* { box-sizing: border-box; }