// Colors
$color-bg: #FFE4CA;
$color-black: #000000;
$color-white: #FFFFFF;
$color-accent: #1a1a1a;
$color-gold: #FFD700;
$color-input-bg: #FFEAD2;

// Fonts
$font-main: 'Epilogue', sans-serif;

// Layout
$container-width: 1440px;
$content-width: 1133px;

// Paths (Adjust based on your folder structure)
$img-path: '../../assets/images';