.form-block {
    width: 580px;
    max-width: 95%;
    margin: -10px auto 200px auto;
    background-color: transparent;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    padding: 0;
    color: $color-black;
    position: relative;
    z-index: 2;

    @include desktop-sm { margin-bottom: 100px; }
    @include laptop { margin-top: 0; }
    @include tablet { width: 90%; margin-bottom: 60px; }

    &__title {
        font-size: 75px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: -2px;
        margin: 0 0 28px;
        width: 100%;
        @include desktop-sm { font-size: 55px; }
        @include laptop { font-size: 48px; }
        @include tablet { font-size: 40px; text-align: center; }
        @include mobile { font-size: 32px; margin-bottom: 15px; }
    }

    &__description {
        font-weight: 700;
        font-size: 32px;
        line-height: 1.2;
        margin: 0 0 28px;
        @include laptop { font-size: 24px; }
        @include tablet { font-size: 20px; text-align: center; line-height: 1.4; }
    }

    &__group {
        display: flex;
        flex-direction: column;
        margin-bottom: 28px;
    }

    &__input-field {
        background-color: $color-input-bg;
        color: $color-black;
        border: 3px solid $color-black;
        border-radius: 20px;
        padding: 19px 26px;
        font-family: inherit;
        font-size: 24px;
        line-height: 24px;
        outline: none;
        width: 100%;

        @include mobile { padding: 15px 20px; font-size: 18px; border-width: 2px; }

        &--bio {
            padding-bottom: 70px;
            resize: none;
        }

        &::placeholder { color: $color-black; }
        &:focus { background-color: rgb(255, 245, 235); }
    }

    &__check-container {
        display: flex;
        align-items: center;
        color: $color-black;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -1px;
        margin-bottom: 62px;
        cursor: pointer;
        @include mobile { font-size: 16px; margin-bottom: 30px; }
    }

    &__checkbox-input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    &__checkbox-custom {
        display: inline-block;
        width: 30px;
        aspect-ratio: 1 / 1;
        border: 3px solid $color-black;
        border-radius: 5px;
        margin-right: 15px;
        flex-shrink: 0;
        position: relative;
    }

    &__checkbox-input:checked ~ &__checkbox-custom::after {
        content: '';
        display: block;
        position: absolute;
        width: 10px;
        height: 20px;
        border: solid $color-black;
        border-width: 0 2px 2px 0;
        top: 2px;
        left: 8px;
        transform: rotate(45deg);
    }

    &__button {
        width: 395px;
        max-width: 100%;
        border: 3px solid $color-black;
        background-color: $color-black;
        color: $color-white;
        font-family: inherit;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        padding: 30px 40px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.2s ease;
        align-self: center;
        border-radius: 15px;
        
        @include tablet { width: 100%; padding: 20px; font-size: 20px; }
        @include mobile { font-size: 18px; padding: 15px; }

        &:hover { background-color: $color-white; color: $color-black; }
    }
}